<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="log_in.css">
</head>
<body>
  <header class="header">
    <div class="header__content">
        <div class="header__logo">
            <img src="map.png" alt="Map" class="header__map">
            <img src="filter.png"  alt="Filter" class="header__filter">
            <img src="logo.png" alt="FreeWalk logo" class="header__logo-image">
            
        </div>
    </div>
</header>


    <div class="container">
        <h1 class="container__title">Log in</h1> 
            <div class="form__note">
                Want to create an account? <a href="/" style="color:#988168">Register</a>
            </div>
            <form class="form" method="POST">
                <label class="form__label" for="email"></label>
                <input class="form__input" type="email" id="email" name="email" required placeholder="Enter email">
                            
                <label class="form__label" for="password"></label>
                <input class="form__input" type="password" id="password" name="password" required placeholder="Enter password">
                            
                <button class="form__button" type="submit">Log in</button>
            </form>
            
    </div>

    <footer class="footer">
        <div class="footer__content">
            <p class="footer__text">&copy; 2024 FreeWalk. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
