<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="styles (1) (1).css">
</head>
<body>
  <header class="header">
    <div class="header__content">
        <div class="header__logo">
            <img src="C:\Users\Admin\Downloads\Final\__pycache__\map.png" alt="New image" class="header__new-image">
            <img src="C:\Users\Admin\Downloads\Final\__pycache__\filter.png"  alt="neew image" class="header__neew-image">
            <img src="C:\Users\Admin\Downloads\Final\__pycache__\resturenter.png"  alt="neeew image" class="header__neeew-image">
            <img src="C:\Users\Admin\Downloads\Final\__pycache__\logo.png" alt="FreeWalk logo" class="header__logo-image">

          </div>
      </div>
  </header>


    <div class="container">
        <h1 class="container__title">Registration</h1>
            <div class="form__note">
                <form method ='put'>
                Already have an account? <a href="/log_in">Log in</a>
                </form>>
            </div>
        <form class="form" method ='post'>

            <label class="form__label" for="establishment-name"></label>
            <input class="form__input" type="text" id="establishment-name" name ='name' required placeholder="Enter name of the establishment">

            <label class="label" for="establishment-description"></label>
            <textarea class="form__input form__textarea" id="establishment-description" name ='description' required placeholder="Enter short description"></textarea>

            <label class="form__label" for="establishment-address"></label>
            <input class="form__input" type="text" id="establishment-address" name ='adress' required placeholder="Enter address">

            <label class="form__label" for="total-seats"></label>
            <input class="form__input" type="number" id="total-seats" name = 'total_seats' required placeholder="Enter total number of seats">

            <label class="form__label" for="email"></label>
            <input class="form__input" type="email" id="email" name = 'email' required placeholder="Enter email">

            <label class="form__label" for="password"></label>
            <input class="form__input" type="password" id="password" name ='password' required placeholder="Choose a password">
            <button class="form__button" type="submit">Register</button>
        </form>
    </div>

    <footer class="footer">
        <div class="footer__content">
            <p class="footer__text">&copy; 2024 FreeWalk. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>