<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ce7dbc771c9208dc4d82a7ccca19d124 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_ce7dbc771c9208dc4d82a7ccca19d124" ></div>
        
</body>
<script>
    
    
            var map_ce7dbc771c9208dc4d82a7ccca19d124 = L.map(
                "map_ce7dbc771c9208dc4d82a7ccca19d124",
                {
                    center: [49.81712905487126, 24.023224341662562],
                    crs: L.CRS.EPSG3857,
                    zoom: 25,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a4fbddb72a3930dc0ae3171f5004cd62 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"https://carto.com/attributions\"\u003eCARTO\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abcd", "tms": false}
            );
        
    
            tile_layer_a4fbddb72a3930dc0ae3171f5004cd62.addTo(map_ce7dbc771c9208dc4d82a7ccca19d124);
        
    
            var marker_fa1fb2243716c5ef9be505601856e7f5 = L.marker(
                [49.824269650000005, 24.038974632104562],
                {}
            ).addTo(map_ce7dbc771c9208dc4d82a7ccca19d124);
        
    
            var icon_9374d0f6063278c77000079e0b5c3dfa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_fa1fb2243716c5ef9be505601856e7f5.setIcon(icon_9374d0f6063278c77000079e0b5c3dfa);
        
    
        var popup_b37d4d0e9f1e639634e4586f85cc248b = L.popup({"maxWidth": "100%"});

        
            
                var html_585db8c510479822f8668417ee4246d9 = $(`<div id="html_585db8c510479822f8668417ee4246d9" style="width: 100.0%; height: 100.0%;">Динамо Блюз</div>`)[0];
                popup_b37d4d0e9f1e639634e4586f85cc248b.setContent(html_585db8c510479822f8668417ee4246d9);
            
        

        marker_fa1fb2243716c5ef9be505601856e7f5.bindPopup(popup_b37d4d0e9f1e639634e4586f85cc248b)
        ;

        
    
</script>
</html>